/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 24, 2017, 4:05:04 PM
    Author     : Storm
*/

/***************************************/
/* THE FOLLOWING IS FOR Main Window fxml*/

.root:focused {
    -fx-background-color: #487597;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#848484 0%, #666666 100%);
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: white;
}

.table-row-cell:even {
    -fx-background-color: -fx-table-cell-border-color, #666666;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #848484;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:hover {
    -fx-text-fill: gray;
    -fx-background-color: #487597;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell:selected {
    -fx-text-fill: gray;
    -fx-background-color: #1B537D;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.list-view .list-cell:even {
-fx-background-color: #666666;
-fx-text-fill: white;
}
.list-view .list-cell:odd {
-fx-background-color: #848484;
-fx-text-fill: white;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: #487597;
    -fx-text-fill: -fx-text-inner-color;
}
.list-view .list-cell:filled:selected {
    -fx-background-color: #1B537D;
    -fx-text-fill: -fx-text-inner-color;
}

/*.list-view .list-cell:filled:hover { 
    -fx-background-color: #00f;
    -fx-text-fill: white;
}*/

.combo-box-popup .list-view .list-cell:even {
    -fx-background-color: #666666;
}    

.combo-box-popup .list-view .list-cell:odd {
    -fx-background-color: #848484;
}    

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #487597;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: #1B537D;
    -fx-text-fill: -fx-text-inner-color;
}

#window {
    -fx-background-color: #090a0c, linear-gradient(#38424b 0%, #22272c 100%);
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: 
    #090a0c,
    linear-gradient(#a1a3a3 0%, #636667 100%),
    linear-gradient(#526570, #464a4e),
    radial-gradient(center 50% 50%, radius 100%, #666666, #a1a3a3);
    -fx-background-radius: 5, 4, 4, 5;
    -fx-background-insets: 0, 1, 1, 0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.75), 5, 0, 0, 1);
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 5 10 5 10;
}
.button Text {
    -fx-effect: dropshadow(one-pass-box , rgba(0, 0, 0, 1), 1, 0, 0, 1);
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: transparent;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #848484;
    -fx-background-color: green;
}
.jfx-tab-pane .tab-label {
    -fx-background-color: rgba(102,102,102,1);
    -fx-text-fill: white;
}

#menuBar {
    -fx-background-color: #38424b;
}

#btnSettings{
    -fx-background-image: url('settings.png');
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-color:transparent;
    -fx-background-position:center;
}
#btnSettings > .arrow-button > .arrow {
    -fx-background-color: transparent;
}